<div class="container text-center">
  <div class="row">
    <div class="col align-self-start" style="color: white; display: flex; justify-content: start;">
      <i class="bi bi-r-circle"></i> 2023 Ignacio Nicolás López López, Portafolio Versión 1.0.
    </div>
    <div class="col icon-styles align-items-end">
      <a href="https://www.linkedin.com/in/ignacio-nicol%C3%A1s-lop%C3%A9z-15889a20b/" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin text-light size-icon"></i>
      </a>
      <a href="https://github.com/ignaciolopezl" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github text-light size-icon"></i>
      </a>
      <a href="https://wa.me/953368004" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-whatsapp text-light size-icon"></i>
      </a>
      <a href="mailto:ignacio.nicolas.lopez.lopez@gmail.com" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-envelope-at-fill text-light size-icon"></i>
      </a>
    </div>

  </div>
</div>
