<div class="separator-project px-4 my-5" style="font-size: 35px; font-family:'Bahnschrift', sans-serif;">Proyectos</div>

<div class="container text-center">
  <div class="row align-items-center">
    <div class="col align-self-center center-column">
      <div  class="card text-center card-size" style="width: 18rem;margin-bottom: 20px;" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
        <img width="286px" height="191px" src="./../../../assets/eCommerce.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-style"> Backend ecommerce</h5>
          <p class="card-text text-style">Se desarrolló un Backend de un ecommerce, basado en un modelo de negocio de almuerzos.</p>
          <p class="pb-3 text-warning text-style">NestJS - TypeORM - MongoDB</p>

          <div class="row p-0 m-0">
            <div class="col p-0 m-0">
              <a type="button" class="btn btn-outline-success" style="border-radius: 17px; font-size: 14px;" target="_blank" href="https://github.com/IgnacioNLopezL/ecommerce-backend"><i class="bi bi-github size-icon-projects px-1"></i>Ver Codigo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col center-column">
      <div  class="card text-center card-size" style="width: 18rem;margin-bottom: 20px;" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
        <img width="286px" height="191px" src="./../../../assets/portafolio.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-style"> Proyecto de Portafolio</h5>
          <p class="card-text text-style">Se realizó el desarrollo de un portafolio para muestra de proyectos y Habilidades.</p>
          <p class="pb-3 text-warning text-style">Angular</p>

          <div class="row p-0 m-0">
            <div class="col p-0 m-0">
              <a type="button" class="btn btn-outline-secondary" style="border-radius: 17px; font-size: 14px;" href="#banner"><i class="bi bi-eye-fill size-icon-projects px-1"></i>Ver Proyecto</a>
            </div>
            <div class="col p-0 m-0">
              <a type="button" class="btn btn-outline-success" style="border-radius: 17px; font-size: 14px;" href="https://github.com/IgnacioNLopezL/-ApiConnection" target="_blank"><i class="bi bi-github size-icon-projects px-1"></i>Ver Codigo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col center-column">
      <div  class="card text-center card-size" style="width: 18rem;margin-bottom: 20px;" data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
        <img width="286px" height="191px" src="./../../../assets/api.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-style">Proyecto ApiConnect</h5>
          <p class="card-text text-style">Se realizó una conexión a una API pública de productos, y muestra como un ecommerce.</p>
          <p class="pb-3 text-warning text-style">Angular - ApiRest</p>

          <div class="row p-0 m-0">
            <div class="col p-0 m-0">
              <a type="button" class="btn btn-outline-secondary" style="border-radius: 17px; font-size: 14px;" target="_blank" href="https://ignacioapiconnect.netlify.app/"><i class="bi bi-eye-fill size-icon-projects px-1"></i>Ver Proyecto</a>
            </div>
            <div class="col p-0 m-0">
              <a type="button" class="btn btn-outline-success" style="border-radius: 17px; font-size: 14px;" target="_blank" href="https://github.com/IgnacioNLopezL/-ApiConnection"><i class="bi bi-github size-icon-projects px-1"></i>Ver Codigo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
