
  <div class="container text-center ">
    <div class="row align-items-center">
      <h1 class="pb-5 name-banner" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">Ignacio López, Developer FullStack</h1>
      <div class="col" style="color: rgb(255, 255, 255);">

        <p class="banner-text" data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000">Soy licenciado en Ciencias de la Ingeniería Informática de la Universidad de Valparaíso, egresado de Ingeniero Civil Informática con mención en redes y telecomunicaciones. Me gusta la tecnología, el desarrollo y aprender constantemente, soy una persona con una buena capacidad de trabajo en equipo, abierto al debate y establecer diálogo con compañeros de trabajo para obtener un buen ambiente laboral.</p>
        <a class="anexos" data-aos="fade-left" data-aos-delay="800" data-aos-duration="2000" target="_blank" href="./../../../assets/Ignacio Lopez CV 2023.pdf"> CV <i class="bi bi-arrow-left-circle-fill mx-3" ></i></a> <!-- cambiar esto como esta arriba -->
        <a class="anexos" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="2000" target="_blank" href="./../../../assets/certificados.pdf"> Cerificados <i class="bi bi-arrow-left-circle-fill mx-3"></i></a>
      </div>
      <div *ngIf="getScreenWith > 618" class="col" data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000">
          <img src="./../assets/banner2.png" alt="" class="image-size">
      </div>
    </div>
  </div>

